body {
    padding: 50px;
}

#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/* FIRST DASHBOARD */

#location {
    font-family: "Montserrat";
    text-align: center;
    font-size: 40pt;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 1px;
/*    margin-top: -20px;*/
}

#weather-icon {
    width: 200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0;
}

#variable-container{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 320px;
}

.variable {
    height: 100%;
    margin: 0 12px;
}

/* SECOND DASHBOARD */

#grid {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* MOCKUPS */

.mockup {
    width: 414px;
    border: 1px solid;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}
